* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url(https://sm.mashable.com/mashable_in/photo/default/nasa-galaxy_9pu4.jpg);
}

h1 {
  font-size: 35px;
  color: #fff;
}

.game-info {
  display: flex;
  color: #fff;
  margin-top: 20px;
}

.speed {
  margin-right: 30px;
}

#rocket {
  position: absolute;
  background-image: url(https://cdn.pixabay.com/photo/2013/07/12/13/52/rocket-147466__340.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 120px 120px;
  z-index: 1;
}

.game-window {
  width: 360px;
  height: 900px;
  border: 3px solid black;
  background-color: #000;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.meteor {
  width: 118px;
  height: 120px;
  background-image: url(./images/m.png);
  background-position: center center;
  background-size: 118px 118px;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.hole {
  width: 118px;
  height: 120px;
  position: absolute;
  top: 0;
}
